body{
    font-family:Arial, Helvetica, sans-serif
}
.todo_css{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}
.js-name-input, 
.dueDateInput{
    font-size: 15px;
    padding: 6px;
}